<aside class="menu-sidebar2">
            <div class="logo">
                <a href="#">
                    <img src="\static\admin\images\icon\logo1.png" alt="logo" />
                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                        <img src="\static\admin\images\icon\admin.png"  />
                    </div>
                    <h4 class="name">{{session['username']}}</h4>
                    <a href="#">College</a>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li >
                            <a href="http://localhost:5000/clge/home">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
								
								
                                
                            </a>
                            
                        </li>
                        <li>
                            <a href="http://localhost:5000/clge1">
                                <i class="fas fa-chart-bar"></i>Profile</a>
                        </li>
                        <li>
                            <a href="http://localhost:5000/clge/new">
                                <i class="fas fa-shopping-basket"></i>Add Course</a>
                        </li>
                        <li >
                            <a href="http://localhost:5000/course">
                                <i class="fas fa-trophy"></i>View Course
                                
                            </a>
                            
                        </li>
                        
                        
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">
                            <div class="logo d-block d-lg-none">
                                <a href="#">
                                    <img src="images/icon/logo-white.png" alt="GK Counsling" />
                                </a>
                            </div>
                            <div class="header-button2">
                                
                                <div class="header-button-item mr-0 js-sidebar-btn">
                                    <a href="http://localhost:5000/logout" style="color:white">logout</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        