<header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="#">
						                    <img src="\static\admin\images\icon\logo1.png" alt="logo" />

                     </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li >
                                <a href="http://localhost:5000/student">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                    <span class="bot-line"></span>
                                </a>
                                
                            </li>
                            
                        </ul>
                    </div>
                    <div class="header__tool">
                        
                        
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
<img src="\static\admin\images\icon\admin.png"  />                                </div>
                                <div class="content">
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
									   <img src="\static\admin\images\icon\admin.png"  />

                                             </a>
                                        </div>
                                        <div class="content">
                                            
                                            <span class="email">{{session['username']}}</span>
                                        </div>
                                    </div>
                                    
                                    <div class="account-dropdown__footer">
                                        <a href="http://localhost:5000/logout">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>